services:
  laravel.test:
    build:
      context: "./vendor/laravel/sail/runtimes/8.2"
      dockerfile: Dockerfile
      args:
        WWWGROUP: "${WWWGROUP:-1000}"
        WWWUSER: "${WWWUSER:-1000}"
    image: "sail-8.2/app"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "${APP_PORT:-80}:80"
      - "${VITE_PORT:-5173}:${VITE_PORT:-5173}"
    environment:
      WWWUSER: "${WWWUSER}"
      LARAVEL_SAIL: 1
      XDEBUG_MODE: "${SAIL_XDEBUG_MODE:-off}"
      XDEBUG_CONFIG: "${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}"
      IGNITION_LOCAL_SITES_PATH: "${PWD}"
    volumes:
      - ".:/var/www/html"
      - "./docker/php/opcache.ini:/etc/php/8.2/cli/conf.d/99-opcache-custom.ini"
      - "./docker/php/opcache.ini:/etc/php/8.2/fpm/conf.d/99-opcache-custom.ini"
      - "./docker/php/php.ini:/etc/php/8.2/cli/conf.d/99-php-custom.ini"
      - "./docker/php/php.ini:/etc/php/8.2/fpm/conf.d/99-php-custom.ini"
    networks:
      - sail
    depends_on:
      - mysql
      - redis

  mysql:
    image: "mysql:8.0"
    ports:
      - "${FORWARD_DB_PORT:-3307}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
      MYSQL_DATABASE: "${DB_DATABASE}"
      MYSQL_USER: "${DB_USERNAME}"
      MYSQL_PASSWORD: "${DB_PASSWORD}"
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - "sail-mysql:/var/lib/mysql"
      - "./database/db_scripts_store_procedure:/docker-entrypoint-initdb.d"
    networks:
      - sail
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}"]
      retries: 3
      timeout: 5s
    command: --default-authentication-plugin=mysql_native_password --innodb-buffer-pool-size=512M --max_connections=200

  redis:
    image: "redis:alpine"
    ports:
      - "${FORWARD_REDIS_PORT:-6379}:6379"
    volumes:
      - "sail-redis:/data"
    networks:
      - sail
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
networks:
  sail:
    driver: bridge
volumes:
  sail-mysql:
    driver: local
  sail-redis:
    driver: local
